.sidebar {
    background-color: var(--color-green-500);
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--font-size-b2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-900);
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--color-grey-900);
    display: flex;
    align-items: center;
}

.sidebar ul li.active {
    background-color: var(--color-white);
    border-radius: 8px; /* 둥근 모서리 */
}

.sidebar ul li.active a {
    color: var(--color-black); /* 활성화된 항목 텍스트 색상 */
}